<%- include('./partials/header.ejs')  %> 

<h1>Hello World!</h1>
<p>
  George Michael, you want to put your head down there by his drainage shunt?
  Why are you squeezing me with your body? Did you know that more frozen bananas
  are sold right here on this boardwalk than anywhere on the OC? Mister gay is
  bleeding! Mister gay! I could use a leather jacket for when I'm on my hog and
  have to go into a controlled slide. I'm in Vegas this week and would like to
  point out the Blue Man Group is *actually* hiring. The support group?
  Oh…yeah…the guy in the $4,000 suit is holding the elevator for a guy who
  doesn't make that in three months. </p>
  <p>Come on! When a.. man.. needs to prove to a
  woman that he's actually.. [pause].. When a man loves a woman.. There are
  dozens of us! Dozens! Shémale. Okay, Lindsay, are you forgetting that I was a
  professional twice over - an analyst and a therapist. The world's first
  analrapist. I'm a scholar. I enjoy scholarly pursuits. Suddenly playing with
  yourself is a scholarly pursuit? What, so the guy we are meeting with can't
  even grow his own hair? COME ON!
</p>

<h3>I can count!</h3>
<% for (let i = 0; i < 10; i++) { %>
  <p><%= i %></p>
  <% } %>
  

  
